# Directories

dist/default/debug/*
dist/default/production
Proteus Simulation/*


# Files

*.code-workspace
**/[Tt]est.*

# Exceptions

!Proteus Simulation/*.pdsprj
!Proteus Simulation/*.mp4
!**/*.cof
!**/*.hex