# Directories

_build/*
.vscode/*
cmake/*
build/*
nbproject/*
dist/default/debug/*
Proteus Simulation/*


# Files

Makefile
*.code-workspace
**/[Tt]est.*

# Exceptions

!Proteus Simulation/*.pdsprj
!Proteus Simulation/*.mp4
!**/*.cof
!**/*.hex